<html>

<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
</head>

<body>
    <nav>
        <ul>
            <% if(!isAuthenticated) { %>
                <button><a href="/login/" style="text-decoration: none;">Login</a></button>
                <% } else { %>
                    <button><a href="/logout/" style="text-decoration: none;">Logout</a></button>
                    <% } %>
        </ul>
    </nav>
    <h1>
        <%=title%>
    </h1>
    <p>Welcome to <%=title%>
        <!-- <pre><%= JSON.stringify(user,null,2)%></pre> -->
    </p>
</body>

</html>